html, body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  /*background-image: url("../images/letters.jpg");
  background-size: cover;*/
  background: #232323;
  margin: 0;
  color: #fff;
  /*disable text selection*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#container{
  margin: 30px auto;
  width: 100%;
  padding: 10px;
}
h1 {
  background-color: #2980b9;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: normal;
  padding: 10px 20px;
  text-transform: uppercase;
  margin: 0 auto;
  width: 500px;
  text-align: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.game-type{
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  padding: 10px 20px;
  width: 500px;
  text-align: center;
}

.game-type input{
  border: none;
  line-height: 2em;
  width: 340px;
  padding: 2px 10px;
  margin: 10px;
  color: #4285F4;
  text-transform: uppercase;
  font-weight: bold;
}
.game-type select{
  border: none;
  line-height: 2em;
  width: 340px;
  height: 2em;
  padding: 5px;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
}

.invisible {
  display: none;
}

.blankLetters{
  font-size: 32pt;
  float: left;
  color: #f9f789;
  padding: 10px;
  border: 1px solid #fff;
  margin: 5px;
  background-color: #f9f789;
  border-radius: 0.25rem;
  width: 70px;
  height: 80px;
  font-family: 'Volkhov', serif;
  text-transform: uppercase;
}

#game{
  width: 600px;
  height: 400px;;
  margin: 0 auto;
  text-align: center;
  -webkit-box-shadow: 7px 4px 11px -3px rgba(81,59,82,1);
  -moz-box-shadow: 7px 4px 11px -3px rgba(81,59,82,1);
  box-shadow: 7px 4px 11px -3px rgba(81,59,82,1);
  background-color: #3d3d3d;
}

#attempts{
  margin: 30px;
  font-family: 'Roboto', sans-serif;
  width: 100px;
  text-align: center;
  background-color: #EEF989;
  width: 200px;
  padding: 5px;
  float: right;
  color: #222222;

}

#attemptCount{
  font-family: 'Roboto', sans-serif;
  font-size: 48pt;
  color: #222222;
  text-align: center;
}

#maincontent{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 5px 15px;
  /*border: 1px solid yellow;*/
}

#industryName{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 40pt;
  color: #222222;
  letter-spacing: 5px;
  margin: 0 auto;
  width: 400px;
  background-color: #eeffba;
  border-radius: 0.25rem;
  padding: 5px 10px;
  text-align: center;
  /*grid-row: 1;
  grid-column: 2;*/
}

/*.wrapper.invisible{
  display: none;
}
.wrapper{
  display: grid;
  grid-auto-rows: minmax(auto,80px);
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 10px;
}

.gameclass{
  grid-column: 2;
  grid-row: 2/4;
}

.attemptclass{
  grid-column: 3;
  grid-row: 2;
}*/

.qwertyclass{
  margin: 10px;
}

#message{
  /*grid-column: 2;
  grid-row: 4;*/
  text-align: center;
  font-size: 36pt;
  color: #ff0010;
}

#message.celebration{
  color: #BC9B0E;
  text-align: center;
  margin: 0 auto;
}

label{
  font-size: 20pt;
  line-height: 2em;
}
#userEntry{
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20pt;
  margin: 0 auto;
  line-height: 2em;
  width: 50px;
  height: 50px;
  padding: 2px 10px;
  box-shadow: 0 0 3px rgba(0, 0, 255, 1);
  color: #4285F4;
  text-transform: uppercase;
  font-weight: bold;
}

.visibletext{
  color: #e23838;
}

#playAgain{
  text-decoration: none;
  background-color: #e0ecff;
  width: 100px;
  height: 40px;
  color: black;
  border: none;
  border-radius: 0.25rem;
}
#playAgain:hover{
  color: #e0ecff;
  background-color: #232323;
  border: 1px solid #666666;
  border-radius: 0.25rem;
}
